# Temporary access token (24hrs)
# Available at: Whatsapp -> API setup
ACCESS_TOKEN=""
RECIPIENT_WAID="" # Your WhatsApp number with country code (e.g., +31612345678)
PHONE_NUMBER_ID=""

# Avaliable at: Left pannel -> App settings -> Basic  
APP_ID=""
APP_SECRET=""

# Available at: Whatsapp -> Configuration -> Webhook 
# (This not the main "Webhook" in left pannel)
VERSION="" # webhook version
VERIFY_TOKEN=""

# This token is generated using:
# scripts/generate_longlived_access_token.py
# Last upto 60 days (5183150s)
LONG_LIVED_ACCESS_TOKEN=""